.box {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.title {
    background-color: #20232a;
    color: #fff;
    border-radius: 5px;
}

.title h3{
    margin-left: 10px;
}

.body {
    
}

.filter {
    margin-left: 20px;
}

.export {
    justify-content: left;
    margin-left: 20px;
}